- succeed ||= false
- errors ||= Hash.new
- errors.default = []

%section.form.border#file-manage
	%h2.title ファイルの管理

	- if succeed
		%span.center#message 変更しました

	- files = user_data.uploaded_files.available
	- if files.empty?
		%span.center ファイルがありません
		%a.btn.btn-primary.btn-block{href("/upload")}>
			%i.fa.fa-file-o
			&nbsp;ファイルをアップロード
	- else
		%form.cf{action("/files/manage")}(method = "post" name = "files-manage")
			%ul#files.cf
				- files.each do |file|
					%li.file{"data-id" => file.id}<
						%a{href("/files/#{file.id}/#{file.orig_file_name}")}= file.orig_file_name
						%span.checkboxes
							%span.checkbox
								%input#file{checked: file.public}(type = "checkbox" name = "public-#{file.id.to_s}")
								%span.unchecked.fa.fa-lock
								%span.checked.fa.fa-unlock
							%span.checkbox.trash
								%input#file{checked: file.deleted}(type = "checkbox" name = "remove-#{file.id.to_s}")
								%span.unchecked.empty
								%span.checked.fa.fa-trash-o

			%input(type = "hidden" name = "_csrf" value = "#{Rack::Csrf.token(env)}")

			%input.btn.btn-warning.btn-block(type = "submit" value = "変更")
