- if logged_in?
	%section.border#index
		%section#mylists
			%h3 公開されているマイリスト
			- if Mylist.public.count.zero?
				%span.center 公開されているマイリストがありません
			- else
				%ul
					- mylists = Mylist.public.all(limit: 100, order: [:created_at.desc])
					- mylists.each do |mylist|
						%li.cf{"data-id" => mylist.id}<
							%a.link{href("/mylists/#{mylist.id}")}= mylist.title
							%a.user{href("/user/#{mylist.user_user_name}")}= mylist.user_user_name
							- unless mylist.comment.empty?
								%span.comment= mylist.comment[0..50]

		%section#files
			%h3 公開されているファイル
			- if UploadedFile.public.count.zero?
				%span.center 公開されているファイルがありません
			- else
				%ul
					- files = UploadedFile.public.all(limit: 100, order: [:created_at.desc])
					- files.each do |file|
						%li{"data-id" => file.id}<
							%a{href("/files/#{file.id}/#{file.orig_file_name}")}= file.orig_file_name
							- if /\.(md|markdown)$/ === file.orig_file_name
								%a{href("/files/preview/#{file.id}/#{file.orig_file_name}")} プレビュー
							-# %sub<= file.access_count

- else
	%section
		%a{href("/register")} 登録
		%br
		%a{href("/login")} ログイン
