!!!
%html(lang = "ja")
	%title 真実はいつも解なし #{@title.nil? ? "" : "- " + @title}
	-#%meta(name = "viewport" content = "width=device-width, initial-scale=0.5, user-scalable=yes")
	-#%meta(name = "viewport" content = "width=device-width, initial-scale=0.5, maximum-scale=2, user-scalable=yes"}
	%meta(charset = "utf-8")
	-#%meta(name = "viewport" content = "width=device-width, initial-scale=0.5, user-scalable=yes")

	-#%link(rel = "apple-touch-icon-precomposed" href = "./apple-touch-icon-precomposed.png" sizes = "114x114")
	-#%link(rel = "shortcut icon" href = "./apple-touch-icon-precomposed.png")

	-#%link(rel = "stylesheet" href = "./reset.css")
	-#%link(rel = "stylesheet" href = "./index.css")

	-#%script(src = "./jquery-1.7.2.min.js")
	-#%script(src = "./sha256.js")

	%link(rel = "apple-touch-icon-precomposed" href = "#{@root_dir}/apple-touch-icon-precomposed.png" sizes = "114x114")
	%link(rel = "shortcut icon" href = "#{@root_dir}/apple-touch-icon-precomposed.png")

	-#%link(rel = "stylesheet" href = "#{@root_dir}/normalize.css")
	- if @common_css
		%link(rel = "stylesheet" href = "#{@root_dir}/common.css")
	- elsif !path.nil?
		%link(rel = "stylesheet" href = "#{@root_dir}/#{path}.css")
	- else
		%link(rel = "stylesheet" href = "#{@root_dir}/#{@specific_object.to_s}.css")

	%script(src = "#{@root_dir}/jquery-1.8.3.min.js")

	:javascript
		$(document).ready(function(){
			$.get("//hst.monora.me/counter/counter.rb", function(data){ $("#count").append(data); });
		});

	- if path == "index" || path == "admin"
		:javascript
			$(document).ready(function(){

				$.ajax({
					url:"/rack/noans/api/post",
					dataType: "json",
					success: function(data,status){
						$.each(data, function(i, item){
							$("#posts").append(item["time"] + ": " + item["text"] + "<br>");
						});
					}
				});

				$.get("/rack/noans/api/text", function(data){
					$("textarea#text").val(data);
					$("div#text").append(data);
				});

				/*
				if (navigator.userAgent.indexOf('Android') > 0) {
					$(window).bind('resize load', function(){
						$("html").css("zoom" , $(window).width()/640 );
					});
				}
				*/
			});

	:javascript
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-20839690-6']);
		_gaq.push(['_setDomainName', 'monora.me']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = 'http://monora.me/data/ga.js';
			//ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	%header
		%span#title<
			%a(href = "#{@root_dir}/") 真実はいつも解なし
		#right<
			- if logged_in?
				%span#username #{session[:user_data][:name]} さん
				%br
				- if logged_in?(true)
					%a(href = "#{@root_dir}/test/reset") リセット
					%a(href = "#{@root_dir}/admin") 管理画面へ
				%a(href = "#{@root_dir}/logout/") ログアウト

	= haml @specific_object unless @specific_object.nil? #ページに表示させるもの
	= yield if block_given?

	%footer
		%span#count> アクセス:
		%span#author> 作った人: @hinokyon
