!!!
%html(lang = "ja")
	%meta(charset = "utf-8")
	%title !Ans #{(title ||= "").empty? ? "" : " - #{title}"}
	-#%meta(name = "viewport" content = "width=device-width, initial-scale=1")

	%link{href("/favicons/favicon_64.png")}(rel = "icon" type = "image/png")
	%link{href("/favicons/favicon_57.png")}(rel = "apple-touch-icon" type = "image/png")
	%link{href("/favicons/favicon_114.png")}(sizes = "114x114" rel = "apple-touch-icon" type = "image/png")
	%link{href("/favicons/favicon_72.png")}(sizes = "72x72" rel = "apple-touch-icon" type = "image/png")
	%link{href("/favicons/favicon_144.png")}(sizes = "144x144" rel = "apple-touch-icon" type = "image/png")
	%link{href("/favicon.ico")}(rel = "shortcut icon")

	%link(href = 'http://fonts.googleapis.com/css?family=Source+Code+Pro:200' rel = 'stylesheet')
	%link{href("/css/normalize.css")}(rel = "stylesheet")
	- path ||= ""; common_css ||= @common_css || false
	- if common_css || path.empty?
		%link{href("/common.css")}(rel = "stylesheet")
	- elsif
		%link{href("/css/#{path}.css")}(rel = "stylesheet")

	%script{src: link_to("/js/jquery-2.0.0.min.js")}

	-# Tag it!
	- using_tagit_path = ["uploads", "mypage", "admin"]
	- if using_tagit_path.include?(path)
		%script{src: link_to("/js/jquery-ui-1.10.2.min.js")}
		%script{src: link_to("/js/tag-it.min.js")}
		-# %script{src: link_to("/js/tag-it.js")}
		%link{href("/css/jquery.tagit.css")}(rel = "stylesheet")
		%link{href("/css/tagit.ui-zendesk.css")}(rel = "stylesheet")
		:javascript
			$(function(){
				$('#tagit').tagit({autocomplete: { disabled: true }});
			});

	= "<script> root_addr = '" + link_to(?/) + "'</script>"
	:javascript
		$(function(){
			$.get(root_addr + "api/access_count/", function(c){ $("#count").append(JSON.parse(c)); });
		});

	- if ["index", "admin"].include?(path)
		:javascript
			$(function(){
				$.ajax({
					url:"/api/post",
					dataType: "json",
				}).done(function(data){
					$.each(data, function(i, item){
						$("#posts").append(item["time"] + ": " + item["text"] + "<br>");
					});
				}).fail(function(data){
					$("#posts").append("投稿の取得に失敗しました");
				});
			});
	- using_markdown_path = ["index", "markdown"]
	- if using_markdown_path.include?(path)
		%script{src: link_to("/js/markdown.js")}
		%link{href: link_to("/css/markdown.css")}(rel = "stylesheet")
	- if path == "index"
		:javascript
			$(function(){
				$.get(root_addr + "api/text", function(text){ $("#text").append(markdown.toHTML(text));});
			});
	- if path == "admin"
		:javascript
			$(function(){
				$.get(root_addr + "api/text", function(text){ $("#text").val(text);});
			});

	-# dev.monora.me: UA-20839690-9
	-# hst.monora.me: UA-20839690-6
	:javascript
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-20839690-6']);
		_gaq.push(['_setDomainName', 'monora.me']);
		_gaq.push(['_trackPageview']);

		(function() {
		  var ga = document.createElement('script'); ga.async = true;
		  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();


	%header.cf
		%a#title{href(?/)} !Ans
		#right<
			- if logged_in?
				%span#username #{user_data[:display_name]} さん
				%br
				- if logged_in?(true)
					%a{href("/test/reset")} リセット
					%a{href("/uploads")} アップロード
					%a{href("/admin")} 管理画面
				%a{href("/my")} マイページ
				%a{href("/logout/")} ログアウト

	= yield if block_given?

	%footer
		%span#count> アクセス:
		%span#author> 作った人: @sukuhino
