- errors ||= Hash.new
- errors.default = []
- succeed ||= false

%section.form.border#mylist-add
	%h2.title
		%a{href("/mylists/#{mylist.id}")}=mylist.title
		へファイルを追加

	- if succeed
		%span.center ファイルを追加しました

	%form.cf{action("/mylist/#{mylist.id}/add")}(method = "post" name = "mylist-add")
		- files = user_data.uploaded_files.available - mylist.uploaded_files
		- if mylist.public?
			- files = files.all(public: true)
		- if files.empty? && UploadedFile.count.zero?
			%span.center ファイルがありません
			%a.btn.btn-primary.btn-block{href("/upload")}>
				%i.fa.fa-upload
				&nbsp;ファイルをアップロード
		- else
			- lists = {}
			- lists["#{user_data.user_name} がアップロードしたファイル"] = files
			- lists["他の人がアップロードした	ファイル"] = UploadedFile.public - files
			- lists.each do |list_title, list_files|
				- next if list_files.empty?
				%h3= list_title
				%ul.files.cf
					- list_files.each do |file|
						%li.file
							%span.file-name= file.orig_file_name
							%span.checkbox
								%input#file(type = "checkbox" name = "#{file.id.to_s}")
								%span.unchecked.empty
								%span.checked.fa.fa-check

			%input(type = "hidden" name = "_csrf" value = "#{Rack::Csrf.token(env)}")

			%input.btn.btn-primary.btn-block(type = "submit" value = "追加")
