- errors ||= Hash.new
- errors.default = []
- succeed ||= false

%section.form.border#mylist-add
	%h2.title
		%a{href("/mylist/#{@mylist.id}")}=@mylist.title
		へファイルを追加

	- if succeed
		%span.center ファイルを追加しました

	%form.cf{action("/mylist/#{@mylist.id}/add")}(method = "post" name = "mylist-add")
		- files = user_data.uploaded_files.available - @mylist.uploaded_files
		- if @mylist.public?
			- files = files.all(public: true)

		- if files.empty? || UploadedFile.available.count.zero?
			%span.center ファイルがありません
		- else
			- unless files.empty?
				%h3= "#{user_data.user_name} が投稿したファイル"
				= haml :"partial/files", locals: {files: files, fields: [:file_name, :created_at, :checkbox_mylist_add]}

			- files_uploaded_by_others = UploadedFile.public - files - @mylist.uploaded_files
			- unless files_uploaded_by_others.empty?
				%h3= "他のユーザーが投稿したファイル"
				= haml :"partial/files", locals: { files: files_uploaded_by_others, fields: [:file_name, :user_name, :created_at, :checkbox_mylist_add]}

			%input(type = "hidden" name = "_csrf" value = "#{Rack::Csrf.token(env)}")

			%input.btn.btn-primary.btn-block(type = "submit" value = "追加")
