- succeed ||= false
- errors ||= Hash.new
- errors.default = []

%section.form.border#mylist-edit
	%h2.title
		%a{href("/mylist/#{@mylist.id}")}>= @mylist.title
		の編集

	%span.right-top
		%a{href("/mylist/#{@mylist.id}/add")}>
			%i.fa.fa-file-o
			ファイルを追加

	- if succeed
		%span.center#success 変更しました

	%form.cf{action("/mylist/#{@mylist.id}/edit")}(method = "post" name = "mylist-edit")
		%label(for = "title")<
			タイトル
		%input#title(type = "text" name = "title" value = "#{h params[:title] || @mylist.title}" required)
		- errors[:title].each do |e|
			%span.warn= e

		%label(for = "comment")<
			コメント
		%textarea#comment(name = "comment")= h params[:comment] || @mylist.comment
		- errors[:comment].each do |e|
			%span.warn= e

		%label.label(for = "public")<
			公開する
			%small 変更できません
		%span.checkbox#public
			%input#public{checked: @mylist.public}(type = "checkbox" name = "public" disabled)
			%span.unchecked.empty
			%span.checked.fa.fa-check

		- errors[:public].each do |e|
			%span.warn= e

		- files = @mylist.uploaded_files
		- if files.empty?
			%span.center ファイルがありません
		- else
			%label.label<
				マイリストからファイルを削除
				= haml :"partial/files", locals: {files: files, fields: [:file_name, :user_name, :checkbox_mylist_edit]}

		%input(type = "hidden" name = "_csrf" value = "#{Rack::Csrf.token(env)}")

		%input.btn.btn-warning.btn-block(type = "submit" value = "変更")

	%span.right-bottom
		%a{href("/mylist/#{@mylist.id}/remove")}
			%i.fa.fa-trash-o
			マイリストを削除
