
%script{src("/js/jquery.herotabs.js")}

:javascript
	$(function(){
		$('.tabs').herotabs();
	});


%section#mypage.border

	%h2.title マイページ

	%div.tabs
		%div.js-nav
			%span.js-nav-item
				%a.btn.btn-default(href = "#files") ファイル
			%span.js-nav-item
				%a.btn.btn-default(href = "#mylists") マイリスト

		%section.js-tab#files
			%h3 ファイル
			%span.right-top
				%a{href("/files/manage")}<
					%i.fa.fa-inbox>
					ファイルの管理
				%a{href("/upload")}<
					%i.fa.fa-upload>
					&nbsp;ファイルをアップロード
			- files = user_data.uploaded_files.available
			- if files.empty?
				%span.empty ファイルがありません
				%a.btn.btn-primary.btn-block{href("/upload")}>
					%i.fa.fa-upload
					&nbsp;ファイルをアップロード
			- else
				%ul#files
					- files.each do |file|
						%li{"data-id" => file.id}<
							%a{href("/files/#{file.id}/#{file.orig_file_name}")}= file.orig_file_name
							- if /\.(md|markdown)$/ === file.orig_file_name
								%a{href("/files/preview/#{file.id}/#{file.orig_file_name}")} プレビュー
							-# %sub<= file.access_count

		%section.js-tab#mylists
			%h3 マイリスト
			%span.right-top
				%a{href("/mylist/new")}<
					%i.fa.fa-list
					&nbsp;マイリストを作成
			- mylists = user_data.mylists.available
			- if mylists.empty?
				%span.empty マイリストがありません
				%a.btn.btn-primary.btn-block{href("/mylist/new")}>
					%i.fa.fa-list
					&nbsp;マイリストを作成
			- else
				%ul#mylists
					- mylists.each do |mylist|
						%li{"data-id" => mylist.id}<
							%a{href("/mylists/#{mylist.id}")}= mylist.title
							-# %sub<= mylist.access_count
