- errors ||= Hash.new
- errors.default = []
%section.form.border#register
	%h2.title 新規登録
	%form.cf{action("/register")}(method = "post" name = "register")
		%label(for = "user-name")<
			ユーザ名
			%small> (半角英数字: 4文字以上)
		%input#user-name(type = "text" name = "user_name" value = "#{h params[:user_name]}" required)
		- errors[:user_name].each do |e|
			%span.warn= e

		%label(for = "mail")<
			メールアドレス (任意)
		%input#mail(type = "email" name = "mail" value = "#{h params[:mail]}")
		- errors[:mail].each do |e|
			%span.warn= e

		%label(for = "password")<
			パスワード
			%small> (6文字以上)
		%input#password(type = "password" name = "password" required)
		-# (errors[:password] + errors[:password_confirm]).each do |e|
		- errors[:password].each do |e|
			%span.warn= e

		%label(for = "password-confirm")<
			パスワード(確認)
		%input#password-confirm(type = "password" name = "password_confirm" required)
		- errors[:password_confirm].each do |e|
			%span.warn= e

		%div#attension<
			%a{href("/terms-of-service")}> 利用規約
			に同意される方のみ登録をすることができます。

		%input(type = "hidden" name = "_csrf" value = "#{Rack::Csrf.token(env)}")

		%input.btn.btn-primary.btn-block(type = "submit" value = "登録")
