- files.each do |file|
	%article.cf{"data-id" => file.id}<
		- unless /\.(md|mdown|markdown)$/ === file.orig_file_name
			- to = "/files/#{file.id}/#{URI.escape file.orig_file_name}"
		- else
			- to = "/files/preview/#{file.id}/#{URI.escape file.orig_file_name}"
		%a.link{href(to)}= file.orig_file_name

		-# %span.access-count<= file.access_count
		%br
		%a.user{href("/user/#{file.user_user_name}")}>= file.user.user_name
		%time= file.created_at.strftime("%Y/%m/%d %H:%m")
