%ul
	- mylists.each do |mylist|
		%li.cf{"data-id" => mylist.id}<
			%a.link{href("/mylists/#{mylist.id}")}= mylist.title
			-# %a.user{href("/user/#{mylist.user_user_name}")}= "(by #{mylist.user_user_name})"
			%span.user<
				(by&nbsp;
				%a{href("/user/#{mylist.user_user_name}")}>= mylist.user_user_name
				&nbsp;)
			- unless mylist.comment.empty?
				%span.summary= mylist.comment[0..50]